<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar fixed-top" style="margin: 0px;padding: 0px;">
    <div style="margin: 0px;padding: 0px;height: 100%">????</div>
    <div style="margin: 0px;padding: 0px;height: 100%"><a routerLink="home">home</a></div>
    <div style="margin: 0px;padding: 0px;height: 100%"><a routerLink="upload">upload</a></div>
    <div style="margin: 0px;padding: 0px;height: 100%"><a routerLink="other">other</a></div>
  </nav>

  <div style="margin-top: 300px">
    <div *ngFor="let session of sessions;let i = index">
      name:<input [(ngModel)]="session.name" placeholder="name">
      time:<input [(ngModel)]="session.time" placeholder="time">
      <button (click)="remove(i)">remove</button>
    </div>
    <div>
      <button (click)="add()">add</button>
    </div>
    <div>
      <button (click)="calculate(sessions,1)">calculate</button>
    </div>
  </div>

  <div>
    <div *ngFor="let table of tables;let i = index">
      <div>day{{i + 1}}</div>
      <div *ngFor="let ses of table;let j = index">
        <div>{{ses.schedule}} {{ses.name}} {{ses.time}} <span *ngIf="ses.time">mins</span></div>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
